.col-spacing {
    margin-left: 80px; 
  }

.btnduvidas {
  background-color: #F0C260;
  color: #2B2B2B;            
  padding: 10px 42px;       
  font-size: 18.5px; 
  font-family: 'Jacques Francois', serif;
  border-radius: 450px;        
  border: none;               
  cursor: pointer;
}

.btnduvidas:hover{
    background-color: #e2aa30;
}

.titulos-laterais { 
    color: #F0C260; 
    font-family: 'Gloock', serif; 
    font-size: 50px; 
    font-weight: bold; 
    line-height: 1.1; 
}

.texto-chef{ 
    font-family: 'Inter', sans-serif;    
    text-align: justify; 
}

.parte-escura{ 
    background: linear-gradient(to right, #434343, #464646); 
    color: #FFFFFF; 
}
    .btn-contato-ajuste { background-color: transparent; border: 1px solid #F0C260; color: #F0C260; padding: 10px 20px; transition: 0.3s; }
    .btn-contato-ajuste:hover { background-color: #F0C260; color: #000; }