/**geral*/

body{
  background-color: #FFFAF9;    
  margin: 0;
  padding-top: 80px;
}

header{
    width: 100%;
}


.navbar-custom {
  background-color: #2B2B2B;
  padding: 20px 0;
  height: 90px;
  width: 100%;
}

/* evita mexer pq pode bagunçar kkkkkkkk */
.navbar-custom .nav-link {
  font-family: 'Jacques Francois', serif;
  color: #FFFAF9;
  margin: 0 27px; /*faz o distanciamento das palavra do nav*/
  font-size: 16px;
  transition: 0.3s;
}

.navbar-custom .nav-link:hover {
  color: #F0C260;
}

img {
  width: 100hv;
}


/*FOOTER*/

.bottom-menu {
  font-family: 'Jacques Francois', serif;
  font-size: 14px;

}

.footer-link {
    color: #FFFAF9;
    transition: 0.3s;
    text-decoration: none;

}
.footer-link:hover{
    color: #F0C260;
}

/*CARD*/

.card-verde{
  background-color: #A1E4C3; 
  color: #000000; 
  padding: 15px; 
  text-align: center; 
  font-family: 'Jacques Francois', serif; 
  font-size: 13px;
  
}

/*PRODUTOS*/

.carousel {
  position: relative;
}

.carousel-control-prev {
    left: 20px;
}

.carousel-control-next {
    right: 20px;
}
.gradiente-produtos {
  background: linear-gradient(to top, #434343, #464646);
  height: 340px;
  width: 98%;
  margin: 0 auto;
}

.carousel {
  position: relative;
}

.ajuste-carrossel {
  max-width: 700px;
  margin: 0 auto;
  align-items: center;
  margin-right: 400px;
  margin-top: 30px;
}

.ajuste-carrossel img {
    height: auto;
    object-fit: cover;
}



/*H1 DOS PRODUTOS...*/
h1 {
   font-size: 44px;
}

.enfase:hover{
  color: #F0C260;
}

.botao-orcamento{
  background-color: #F0C260;
  font-family: 'Jacques Francois', serif;
  
  color: #2B2B2B;
  border: none;
  border-radius: 26px;
  
}
.botao-orcamento:hover{
  background-color: #f4bd46;
}

.titulos-produtos{
  color: #F0C260;
  font-family: 'Jacques Francois', serif;
  text-align: center;
}

/*CURSOS */

/*card cursos*/

.botao-saiba-mais {
  font-family: 'Jacques Francois', serif; 
  text-align: center; 
  background-color: #661647; 
  color: white; 
  border-radius: 50px
}

.botao-saiba-mais:hover{
  background-color: #ab2c7a;
}

/*CONTATO*/

.localizacao {
  font-family: 'Jacques Francois', serif;
  font-size: 16x;
}

.contatobotao:hover {
  background-color: #be1f82;
}

.redes-sociais{
  text-decoration: none;
  color: #F0C260;
  
}

.redes-sociais:hover{
  color: #661647;
  text-decoration: underline ;
}

.titulos {
  font-weight: 700;
}

.mapa {
  border-radius: 10px;
  overflow: hidden;
}

.card-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}


/*LOCALIZACAO*/

.contatobotao {
  background-color: #661647;
}