/**geral*/

body{
  background-color: #FFFAF9;    
  margin: 0;
  padding-top: 80px;
}

header{
    width: 100%;
    
}


/*CARD*/

.card-verde{
  background-color: #A1E4C3; 
  color: #000000; 
  padding: 15px; 
  text-align: center; 
  font-family: 'Jacques Francois', serif; 
  font-size: 13px;
  
}

i:hover {
  color: white;
}
